# Тип хранилища: 'local' или 's3'
STORAGE_TYPE=s3

# Для локального хранилища
LOCAL_STORAGE_PATH=./storage

# Для S3 хранилища
S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=files
